<header class="banner">
    <img src="{{ '/assets/images/banner0.png' | relative_url }}" alt="Top Banner" class="banner-image">
    <div class="banner-text">
      <h1 class="banner-title">Colab UAVs</h1>
      <p class="banner-subtitle">We specialize in large model-enabled intelligent human-drone interaction research, achieving breakthroughs in language-guided UAV control, including short-range operation, long-range planning, and multi-agent collaboration with integrated multi-modal interaction systems</p>
    </div>
  </header>
  