<div class="hero-carousel">
  <div class="carousel-track">
    {% for item in site.data.carousel_images %}
    <div class="carousel-slide {% if forloop.first %}active{% endif %}">
      <div class="carousel-image-container">
        <img src="{{ '/assets/images/' | append: item.image | relative_url }}" alt="Project Image">
      </div>
      <p class="carousel-caption">{{ item.caption }}</p>
    </div>
    {% endfor %}
  </div>

  <!-- 控制按钮放在外层，定位于图片两侧 -->
  <button class="carousel-control prev">&#10094;</button>
  <button class="carousel-control next">&#10095;</button>
</div>
