<header class="site-header">
  <div class="header-wrapper">
    <!-- Logo和实验室名称 -->
    <div class="branding">
      <img src="{{ '/assets/images/colab_logo.png' | relative_url }}" alt="Colab Logo" class="site-logo">
      <span class="site-name">Colab UAVs</span>
    </div>

    <!-- 导航菜单 -->
    <nav class="site-nav">
      <ul>
        {% for item in site.navigation %}
        <li><a href="{{ item.url | relative_url }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>