<aside id="side-nav" class="side-nav">
  <div class="nav-header">
    <div class="branding">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Colab Logo">
      <span class="site-name">Colab UAVs</span>
    </div>
  </div>

  <a href="#home" class="nav-link">Home</a>
  <nav class="nav-menu">
    <div class="nav-item has-children">
      <button class="submenu-toggle">Projects ▼</button>
      <div class="submenu">
        {% for project in site.data.projects %}
          <a href="#{{ project.id | slugify }}" class="nav-link">{{ project.id }}</a>
        {% endfor %}
      </div>
    </div>

    <a href="#people" class="nav-link">People</a>
    <a href="#contact" class="nav-link">Contact</a>
  </nav>
</aside>
