<section class="overview">
  <!-- 第一行：一个项目，两张图 -->
  <div class="overview-row">
    <div class="overview-left">
      <a href="#airstar" class="project-card two-images">
        <div class="card-content">
          <img src="./assets/images/airstar.png" alt="Project A 1">
          <img src="./assets/images/airstar1.png" alt="Project A 2">
        </div>
        <div class="project-label">AirStar</div>
      </a>
    </div>
    <div class="overview-right">
      <div class="text-block">
        <p><b>UAV multifunctional system</b></p> 
        <p>AirStar integrates an LLM as its cognitive core, enabling intuitive voice/gesture control, geospatial navigation, and advanced features like automated filming, paving the way for next-gen UAV assistants.</p>
        <div class="arrow-up"></div>
      </div>
    </div>
  </div>

  <!-- 第二行：两个项目各一张图 -->
  <div class="overview-row">
    <div class="overview-left">
      <a href="#project-b" class="project-card one-image">
        <div class="card-content">
          <img src="./assets/images/uav_flow1.png" alt="Project B">
        </div>
        <div class="project-label">UAV_Flow</div>
      </a>
      <a href="#aeroduo" class="project-card one-image">
        <div class="card-content">
          <img src="./assets/images/aeroduo.png" alt="Project C">
        </div>
        <div class="project-label">AeroDuo</div>
      </a>
    </div>
    <div class="overview-right">
      <div class="text-block">
        <p><b>Navigation</b></p>
        <p>This stage addresses UAV navigation. UAV_Flow targets <b>short-range, fine-grained navigation</b>, while AeroDuo focuses on <b>long-range planning</b>, enabling UAVs to navigate complex environments effectively at different scales.</p>
        <div class="arrow-up"></div>
      </div>
    </div>
  </div>

  <!-- 第3行：一个项目，两张图 -->
  <div class="overview-row">
    <div class="overview-left">
      <a href="#project-a" class="project-card two-images">
        <div class="card-content">
          <img src="./assets/images/video2bev.png" alt="Project D 1">
          <img src="./assets/images/video2bev1.png" alt="Project D 2">
        </div>
        <div class="project-label">Video2BEV</div>
      </a>
    </div>
    <div class="overview-right">
      <div class="text-block">
        <p><b>Perception and Geo-localization</b></p>
        <p>We redefined drone geo-localization by converting videos into detailed Bird's Eye View (BEV) maps using Gaussian Splatting-based 3D reconstruction. </p>
        <div class="arrow-up"></div>
      </div>
    </div>
  </div>

  <!-- 第4行：一个项目，两张图 -->
  <div class="overview-row">
    <div class="overview-left">
      <a href="#project-a" class="project-card two-images">
        <div class="card-content">
          <img src="./assets/images/openuav.png" alt="Project e 1">
          <img src="./assets/images/openuav_scenes.png" alt="Project e 2">
        </div>
        <div class="project-label">OpenUAV</div>
      </a>
    </div>
    <div class="overview-right">
      <div class="text-block">
        <!-- <div class="arrow-up"></div> -->
        <p><b>UAV Simulation Platform</b></p>
        <p>We built a realistic simulation platform and the UAV-Need-Help benchmark to support vision-language navigation.</p>
      </div>
    </div>
  </div>
</section>
