---
---

@import "nav";
@import "projects";
@import "project_list";
@import "people";
@import "intro";
@import "overview";
@import "banner";
@import "news";

.header-image-container {
  display: flex;
  justify-content: center; // 水平居中
  align-items: center;
  width: 80%;
  padding: 0rem 1rem;
  flex-wrap: wrap; // 小屏响应式换行
  
  .header-image {
    width: 70%;
    height: auto;
    flex-shrink: 0;
  }
}

.site-footer {
  background-color: #f9f9f9;
  padding: 3rem 1rem;
  text-align: center;
}

/* ======= 全局滚动平滑行为 ======= */
html {
  scroll-behavior: smooth;
}
